<div class="body-container">

    <div class="left-column">
        <h1>Employee Management System</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suscipit tellus mauris a diam maecenas sed enim. Ultricies leo integer malesuada nunc. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Amet dictum sit amet justo donec enim. Ullamcorper a lacus vestibulum sed. Phasellus egestas tellus rutrum tellus.</p>
        <p-button (click) = "showModal()" label="LOGIN"></p-button>
        <p-button label="Submit"></p-button>
    </div>
</div>