.body-container{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/landing-page-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.body-container .left-column{
    width: 35vw;
    height: 60vh;
    position: absolute;
    margin: 20vh 0 0 7vw;
}
.body-container .left-column h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #002C75;
    font-size: 35px;
    font-weight: 1000;
    text-transform: uppercase;
}
.body-container .left-column p{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #211379;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    line-height: 150%;
}
:host >>> .body-container .left-column .p-button{
    margin-top: 20px;
}
/* login modal */
::ng-deep .p-dynamic-dialog{
    min-width: 35vw;
    min-height: 40vh;
}
/* modal header */
::ng-deep .p-dialog-title{
    width: 100%;
    text-align: center;
    margin-left: 20px;
}