<p>login-modal works!</p>
<div class="login-modal">
    <div class="modal-header text-center">
        <h3 class="modal-title w-100"><b>LOGIN</b></h3>
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <div class="login-form-container">
            <input type="text" class="form-control" id="username-input" placeholder="Username">
            <input type="password" class="form-control" id="password-input" placeholder="Password">
            
            <div class="col-md-12 text-center">
                <button class="btn btn-primary" type="submit"><b>LOGIN</b></button>
            </div>

        </div>

    </div>
    <div class="modal-footer text-center">
        <p class="w-100">Don't have an account? <a data-dismiss="modal">Register</a></p>
    </div>
</div>