@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-content {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content: space;
}

.row .cell {
    width: 100%;
    background: #eee;
    padding: 14px;
}

.row .cell:nth-of-type(2) {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.menu-btn {
    background-color: aqua;
    cursor: pointer;
}

.main-content.is-active {
    width: calc(100vw - 270px);
    height: 100vh;
    left: 270px;
    z-index: 2;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #6262622b;
}

/* page content */
.body-content{
    width: 100%;
    text-align: center;
}

h2{
    margin-top: 200px;
    font-size: 150px;
}